{% extends 'base.html' %}

{% block title %}Crear Propiedad{% endblock %}

<!-- Formulario para crear una propiedad -->
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Crear Nueva Propiedad</h1>
        <form method="POST" class="container row g-3">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="input-name" name="name" required>
            </div>
            <div class="col-md-6">
                <label for="address" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="input-address" name="address" required>
            </div>
            <div class="col-md-4">
                <label for="country" class="form-label">País</label>
                <input type="text" class="form-control" id="input-country" name="country" required>
            </div>
            <div class="col-md-4">
                <label for="city" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="input-city" name="city" required>
            </div>
            <div class="col-md-4">
                <label for="postal_code" class="form-label">Código Postal</label>
                <input type="text" class="form-control" id="input-postal_code" name="postal_code" required>
            </div>
            <div class="col-md-6">
                <label for="type" class="form-label">Tipo</label>
                <select class="form-control" id="select-type" name="type" required>
                    {% for key, value in REAL_STATE_TYPE %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="area" class="form-label">Área (m²)</label>
                <input type="number" class="form-control" id="input-area" name="area" required>
            </div>
        </form>
        <div class="col-12 text-center mt-4">
            <button id="create-realstate-button" type="submit" class="btn btn-success">Crear Propiedad</button>
        </div>
    </div>
{% endblock %}
