{% extends 'base.html' %}


{% block title %}Listado de Propiedades{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center mb-5">Propiedades Disponibles</h1>

        <div class="input-group mb-5">
            <input id="input-filter-realstate" type="text" class="form-control" placeholder="Buscar propiedades...">
            <button class="btn btn-outline-secondary" type="button">Buscar</button>
        </div>
        <div id="realstate-table" class="row">
        </div>
        <div class="text-center mb-4">
            <a href="{% url 'create_property' %}">
                <button type="button" class="btn btn-success">Crear Propiedad</button>
            </a>
        </div>
    </div>
{% endblock %}


